* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

.navbar {
    border-bottom: solid 1px #aaa;
    background-color: #eee;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.navbar a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #1b1b1b;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    background-color: white;
}